/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Anonymous Pro', monospace;
}

.typewrite {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #8800a3;
    color: #fff;
    padding: 10px 20px;
    border-width: 5px;
    border-color: #dc2cff;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 70px;
    line-height: 50px;
}

.btn a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
}

.btn svg {
    vertical-align: middle;
    margin-right: 8px;
}

/* Hover effect for the entire button */
.btn:hover {
    background-color: #a100c5;
    box-shadow: 0 0 20px #dc2cff, 0 0 30px #dc2cff, 0 0 40px #dc2cff; /* Glow effect */
}

.open-sans-1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: large;
}

#about {
    text-align: center;
}

#about h2 {
    -webkit-text-fill-color: #fff;
}

#about h3 {
    text-decoration: underline;
    color: #9f00ff;
}

#about h4 {
    -webkit-text-fill-color: green;
}

/* Hover effect for the entire button */
.btn:hover {
    background-color: #a100c5;
    box-shadow: 0 0 20px #dc2cff, 0 0 30px #dc2cff, 0 0 40px #dc2cff; /* Glow effect */
}

#socials {
    text-align: center;
    max-width: 100%; /* Ensure images never overflow */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* Center content vertically when there's empty space */
}

#socials h2 {
    -webkit-text-fill-color: #fff;
}

#video {
    max-width: 100%; /* Ensure images never overflow */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* Center content vertically when there's empty space */
}

/*
header svg {
    max-width: 100%; /* Ensure images never overflow
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: /* center; Center content vertically when there's empty space
}*/
